<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Moon.AspNet.Validation</title>
</head>
<body>
    <ul>
        <li><a href="@Url.Action("Server")">Server Validation</a></li>
        <li>Kendo UI Validator <i>(comming soon)</i></li>
        <li>jQuery Validation <i>(comming soon)</i></li>
    </ul>
</body>
</html>